# Arquivo de exemplo para variáveis de ambiente

# Variáveis de ambiente para o PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Porta do PostgreSQL no computador
POSTGRES_PORT=

# Porta interna do PostgreSQL no container
POSTGRES_CONTAINER_PORT=

# Coloque_sua_chave_secreta_aqui
SECRET_KEY=